<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport", content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet", href="{% static 'css/bug_report.css' %}">
    <head>
        <title>SUCCESS</title>
    </head>
    <body>
        <h1>THANK YOU</h1>
        <img src="{% static 'img/not_worthy.gif' %}" alt="WE'RE NOT WORTHY">
        <p>Your bug report has been submitted successfully.</p>
    </body>
    <footer>
        <img src="{% static 'img/stslogo.jpg' %}", class='logo', alt="SelectTech Logo">
    </footer>
</html>