<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport", content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet", href="{% static 'css/bug_report.css' %}">
        <title>Bug Report</title>
    </head>
    <body>
        <h1>Report a Bug</h1>
        <img src="{% static 'img/hair_pull.png' %}">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </body>
    <footer>
        <img src="{% static 'img/stslogo.jpg' %}", class='logo', alt="SelectTech Logo">
    </footer>
</html>