<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport", content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet", href="{% static 'css/bug_report.css' %}">
    <link rel="icon" href="{% static 'img/CID_favicon.ico' %}" type="image/x-icon">
    <head>
        <title>SUCCESS</title>
    </head>
    <body>
        <h1>THANK YOU</h1>
        <img src="{% static 'img/oprah.gif' %}" alt="EVERYONE GETS AN ACCOUNT">
        <p>Your account request has been submitted successfully.</p>
        <p>Our admins will contact you shortly.</p>
    </body>
    <footer>
        <img src="{% static 'img/stslogo.jpg' %}", class='logo', alt="SelectTech Logo">
    </footer>
</html>