<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet", href="{% static 'css/homepage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'img/CID_favicon.ico' %}" type="image/x-icon">
    <title>CID</title>    
</head>
<header>
    <div class="title_block">
    <h1>CID</h1>
    </div>
    <div class="welcome_block">
    <h2>Welcome, {{ first_name }} {{ last_name }}!</h2>
    </div>
    <div class="logo_block">
        <img id="CID_LOGO" src="{% static 'img/CID_Temp_logo_notext.jpg' %}", alt="CID Logo">
        <div id="links">
        <a href="{% url 'custom_logout' %}">Logout</a>
        </div>
    </div>
</header>
<body>
    <h2>CID is SelectTech's one-stop shop to retrieve Configuration Data</h2>
    <hr>
    <p>Having Product Issues? <a href="{% url 'maint_ticket' %}"><button class="maint_ticket">Submit Ticket</button></a></p>
    <div class="table_block">
    <div class="tables">
    <table>
        <thead>
            <th colspan="2"><a href="/rocc_hp" style="color: white;">ROCC</a></th>
        </thead>
        <tbody>
            <tr>
                <td>BOMS</td>
                <td><a href="/BOMS/rocc_boms">View BOMs</a></td>
            </tr>
            <tr>
                <td>Drawings</td>
                <td><a href="/drwgs/rocc_drwgs">View Drawings</a></td>
            </tr>
            <tr>
                <td>TDP</td>
                <td><a href="{% url 'download_zip' %}">DOWNLOAD TDP</a></td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
                <th colspan="2">STEEL EAGLE</th>
        </thead>
        <tbody>
            <tr>
                <td>BOMS</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
            <tr>
                <td>DRAWINGS</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
            <tr>
                <td>TDP</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
                <th colspan="2">VIPER</th>
        </thead>
        <tbody>
            <tr>
                <td>BOMS</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
            <tr>
                <td>DRAWINGS</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
            <tr>
                <td>TDP</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
                <th colspan="2">ORION'S BELT</th>
        </thead>
        <tbody>
            <tr>
                <td>BOMS</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
            <tr>
                <td>DRAWINGS</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
            <tr>
                <td>TDP</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="tables">
    <table>
        <thead>
            <th colspan="2"><a href='/slicc_hp' style='color: white;'>SLICC</a></th>
        </thead>
        <tbody>
            <tr>
                <td>BOMS</td>
                <td><a>View BOMs</a></td>
            </tr>
            <tr>
                <td>Drawings</td>
                <td><a>View Drawings</a></td>
            </tr>
            <tr>
                <td>TDP</td>
                <td><a>DOWNLOAD TDP</a></td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
                <th colspan="2"><a href='/slip_hp' style='color: white;'>SLIP</a></th>
        </thead>
        <tbody>
            <tr>
                <td>BOMS</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
            <tr>
                <td>DRAWINGS</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
            <tr>
                <td>TDP</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
                <th colspan="2">SILVER BULLET</th>
        </thead>
        <tbody>
            <tr>
                <td>BOMS</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
            <tr>
                <td>DRAWINGS</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
            <tr>
                <td>TDP</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
                <th colspan="2">AFCENT</th>
        </thead>
        <tbody>
            <tr>
                <td>BOMS</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
            <tr>
                <td>DRAWINGS</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
            <tr>
                <td>TDP</td>
                <td><a>PLACEHOLDER</a></td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    <hr>
</body>
<footer>
    <img src="{% static 'img/stslogo.jpg' %}", alt="SelectTech Logo">
    <p>Something Not Working? Report a Bug <a href='' onclick="openPopUp('/report_bug')">Here</a></p>
    <script>
            function openPopUp(url) {
                window.open(url, 'popupWindow', 'width=${window.screen.width * 0.8},height=#{window.screen.height * 0.6},scollbars=yes,resizable=yes');
                return false;
            }
        </script>
</footer>
</html>