<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport", content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet", href="{% static 'css/boms.css' %}">
        <title>ROCC BOMS</title>
    </head>
    <body>
        <a href="{% url 'homepage' %}">
            <img class='homepage_link' src="{% static 'img/CID_Temp_logo.png' %}"
        </a>
        <h1>
            ROCC Configuration Bills of Material
        </h1>
        <p>
            <table>
                <tr>
                    <th>ROCC BOM 1</th> 
                    <th><a href="{% url 'download_file' 'Book1.xlsx' %}">Download</a></th>
                </tr>
                <tr>
                    <th>ROCC BOM 2</th>
                    <th><a>PLACEHOLDER LINK</a></th>
                </tr>
            </table>
        </p>
    </body>
    <footer>
        <img src="{% static 'img/stslogo.jpg' %}", alt="SelectTech Logo">
        <p>Something Not Working? Report a Bug <a href='' onclick="openPopUp('/report_bug')">Here</a> </p>
    <script>
            function openPopUp(url) {
                window.open(url, 'popupWindow', 'width=${window.screen.width * 0.8},height=#{window.screen.height * 0.6},scollbars=yes,resizable=yes');
                return false;
            }
        </script>
    </footer>
</html>