* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(108, 108, 108);
    color: white;
    margin-top: 0px;
}


body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

table, th, td, tr{
    border: 1px solid;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

th, td, tr{
    height: 55px;
    width: 300px;
}

img {
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 20px;
}

.homepage_link {
    max-width: 100px;
    margin-left: 30px;
    margin-top: 20px;
}