* {
    margin: 0 5px 5px 5px;
    padding: 0;
    box-sizing: border-box;
    background-color: #002960;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}